proj1/report/report_proj1.aux
proj1/report/report_proj1.bbl
proj1/report/report_proj1.synctex.gz
proj1/report/report_proj1.pdf
proj1/report/report_proj1.out
proj1/report/report_proj1.log
proj1/report/report_proj1.blg